# Sanity CMS
NEXT_PUBLIC_SANITY_PROJECT_ID=your-sanity-project-id
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=your-read-token
SANITY_API_WRITE_TOKEN=your-write-token

# Revalidation
REVALIDATE_SECRET=your-secret

# Scraper keys
GROQ_API_KEY=your-groq-api-key
TWITTER_BEARER=your-twitter-bearer-token
TWITTER_BEARER2=your-secondary-twitter-bearer-token
TWILIO_AUTH_TOKEN=your-twilio-auth-token
TWILIO_ACCOUNT_SID=your-twilio-account-sid
