# Sanity (for future CMS integration)
SANITY_PROJECT_ID=
SANITY_TOKEN=
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=
NEXT_PUBLIC_SANITY_PROJECT_ID=$SANITY_PROJECT_ID
NEXT_PUBLIC_SANITY_DATASET=production
